<fieldset>

    <legend>条件搜索</legend>

    <form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">用户账号</label>
            <div class="layui-input-inline">
                <input name="u_username" value="{$Think.get.u_username|default=''}" placeholder="请输入用户账号（模糊查询）" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">IP搜索</label>
            <div class="layui-input-inline">
                <input name="u_ip" value="{$Think.get.u_ip|default=''}" placeholder="请输入IP（模糊查询）" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">注册时间</label>
            <div class="layui-input-inline">
                <input data-date-range name="u_time" value="{$Think.get.u_time|default=''}" placeholder="请选择注册时间（系统时区）" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">邮箱认证</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="u_auth_email">
                    {foreach [''=>'-- 全部状态 --','0'=>'未认证','1'=>'已认证'] as $k=>$v}
                    {eq name='Think.get.u_auth_email' value='$k.""'}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/eq}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">谷歌认证</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="u_auth_google">
                    {foreach [''=>'-- 全部状态 --','0'=>'未认证','1'=>'已认证'] as $k=>$v}
                    {eq name='Think.get.u_auth_google' value='$k.""'}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/eq}
                    {/foreach}
                </select>
            </div>
        </div>
        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">是否冻结</label>
            <div class="layui-input-inline">
                <select class="layui-select" name="u_clock">
                    {foreach [''=>'-- 全部状态 --','1'=>'已冻结','0'=>'未冻结'] as $k=>$v}
                    {eq name='Think.get.u_clock' value='$k.""'}
                    <option selected value="{$k}">{$v}</option>
                    {else}
                    <option value="{$k}">{$v}</option>
                    {/eq}
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon">&#xe615;</i> 搜 索</button>
        </div>
    </form>

</fieldset>

<script>form.render()</script>
